body{
    background: rgba(128, 128, 128, 0.14);
}
.news-container {

    /* width: 33%; */
    
    /* border: 1px solid gray; */
    /* box-sizing: border-box; */
    border-radius: 10px;
    background: #fff;
    /* height: 350px; */
    height: 100%;
}
.alert-list{
  color: red;
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
}

.heading {
    color: #0d0c22db;
    width: 90%;
    padding: 10px 24px;
    
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    
    overflow: hidden;
    text-overflow: ellipsis;

}


.news-list {
    
    list-style-type: none;
    padding: 0px;
    width: 100%;
}


.news-item {
    background-color: white;
    
    padding: 10px 16px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.68);
}

.calendar{
    width: 100%;
    background: #fff;
    /* padding: 10px 24px; */
    border-radius: 10px;
    /* margin: 8px; */
}

.calendar {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .calendar {
      max-width: 100%;
    }
    .alert-list{
      font-size: 14px;
      padding: 10px;
    }
  }
  
  @media (min-width: 992px) {
    .calendar {
      max-width: 800px;
    }
    .alert-list{
      font-size: 24px;
    }
  }
  
  @media (max-width: 576px) {
    .calendar {
      margin-top: 20px;
      max-width: 100%;
    }
  }
  
.calendar-head{
    color: #0d0c22db;
    width: 90%;
    padding: 10px 24px;
    
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

