.student-grade-details {
    width: 100%;
    margin: 20px auto;
    padding: 1rem;

    font-size: large;
  }
  h1{
    text-align: center;
  }
  
  .student-grade-details table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .student-grade-details table th,
  .student-grade-details table td {
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  
  .student-grade-details table th {
    background-color: #3cae79;
  }
table tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.26);
  }
  @media (min-width: 992px) {
    .student-grade-details table {
      width: 80%;
      margin: 0 auto;
    }
  }