body{
    background-color: black;
}
.temp{
    display: flex;
    margin-top: 20%;
}

.doc-btn{
padding: 50px;
font-size: larger;
font-weight: 600;
border-radius: 80px;

margin: auto;
background-color :rgb(221, 216, 216);
border: 5px solid white;
height: 100%;
}

.doc-btn:hover{
    background-color: green;
    
}
