
.temp{
    display: flex;
    margin-top: 20%;
}

.doc-btn{
padding: 50px;
font-size: larger;
font-weight: 600;
border-radius: 80px;
color: white;
margin: auto;
background-color :black;
border: 5px solid black;
height: 100%;
}

.doc-btn:hover{
    background-color: green;
    
}
